In [6]:
import pandas as Pd

In [7]:
data={
    'Name':['Alice', 'Bob', 'Charlie', 'David'],
    'Age':[24, None, 22, None],
    'Salary':[50000, 60000, 55000, None]

}
df= Pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  22.0  55000.0
3    David   NaN      NaN

In [8]:
print(df.isnull().sum())
df_drop=df.dropna()
print("\nDataFrame after dropping rows with missing values:")   
print(df_drop)

Name      0
Age       2
Salary    1
dtype: int64

DataFrame after dropping rows with missing values:
      Name   Age   Salary
0    Alice  24.0  50000.0
2  Charlie  22.0  55000.0

In [9]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print("\nDataFrame after filling missing values with mean:")
print(df)

DataFrame after filling missing values with mean:
      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  23.0  60000.0
2  Charlie  22.0  55000.0
3    David  23.0  55000.0