In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

### Label Encodeing

In [10]:
df=pd.read_csv('data.csv')
df_label=df.copy()
le=LabelEncoder()
df_label["Gender_Encoded"]=le.fit_transform(df_label["Gender"])
df_label["Passed_Encoded"]=le.fit_transform(df_label["Passed"])
print("\nLabel Encoded Data")
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']].head())

Label Encoded Data
     Name  Gender  Gender_Encoded Passed  Passed_Encoded
0    Aman    Male               1    Yes               1
1   Priya  Female               0    Yes               1
2   Rahul    Male               1     No               0
3  Anjali  Female               0    Yes               1
4    Ravi    Male               1    Yes               1

### One Hot Encoding
#### .get_dummies - get_dummies() is a pandas function used to convert categorical (text) columns into numerical columns using One-Hot Encoding.

#### Machine Learning models cannot work with text, so we convert categories into 0 / 1.

In [13]:
df_encoded=pd.get_dummies(df_label,columns=['City'])
print("\nOne Hot Encoded Data")
print(df_encoded.head())

One Hot Encoded Data
     Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0    Aman    Male    Yes               1               1           False
1   Priya  Female    Yes               0               1           False
2   Rahul    Male     No               1               0            True
3  Anjali  Female    Yes               0               1           False
4    Ravi    Male    Yes               1               1           False

   City_Chennai  City_Delhi  City_Mumbai
0         False        True        False
1         False       False         True
2         False       False        False
3         False       False         True
4         False        True        False

### Pandas .astype(newDataType) astype is a pandas method used to change (convert) the data type of a column or entire DataFrame.

In [20]:
df_encoded = pd.get_dummies(df_label, columns=['City'])

dummy_cols = df_encoded.select_dtypes(include='bool').columns
df_encoded[dummy_cols] = df_encoded[dummy_cols].astype(int)

print(df_encoded)
print(df_label)

      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Bangalore  \
0     Aman    Male    Yes               1               1               0
1    Priya  Female    Yes               0               1               0
2    Rahul    Male     No               1               0               1
3   Anjali  Female    Yes               0               1               0
4     Ravi    Male    Yes               1               1               0
5    Meera  Female     No               0               0               0
6    Arjun    Male    Yes               1               1               1
7     Neha  Female    Yes               0               1               0
8    Imran    Male     No               1               0               0
9    Sneha  Female    Yes               0               1               0
10     Raj    Male    Yes               1               1               0
11   Divya  Female     No               0               0               0
12   Kabir    Male    Yes               1               1               0
13  Simran  Female    Yes               0               1               1
14   Karan    Male     No               1               0               0
15   Pooja  Female    Yes               0               1               0
16  Rakesh    Male    Yes               1               1               0
17    Isha  Female     No               0               0               0
18   Rohit    Male    Yes               1               1               0
19   Deepa  Female    Yes               0               1               1

    City_Chennai  City_Delhi  City_Mumbai
0              0           1            0
1              0           0            1
2              0           0            0
3              0           0            1
4              0           1            0
5              1           0            0
6              0           0            0
7              0           1            0
8              1           0            0
9              0           0            1
10             1           0            0
11             0           1            0
12             0           0            1
13             0           0            0
14             0           1            0
15             0           0            1
16             1           0            0
17             0           1            0
18             0           1            0
19             0           0            0
      Name  Gender       City Passed  Gender_Encoded  Passed_Encoded
0     Aman    Male      Delhi    Yes               1               1
1    Priya  Female     Mumbai    Yes               0               1
2    Rahul    Male  Bangalore     No               1               0
3   Anjali  Female     Mumbai    Yes               0               1
4     Ravi    Male      Delhi    Yes               1               1
5    Meera  Female    Chennai     No               0               0
6    Arjun    Male  Bangalore    Yes               1               1
7     Neha  Female      Delhi    Yes               0               1
8    Imran    Male    Chennai     No               1               0
9    Sneha  Female     Mumbai    Yes               0               1
10     Raj    Male    Chennai    Yes               1               1
11   Divya  Female      Delhi     No               0               0
12   Kabir    Male     Mumbai    Yes               1               1
13  Simran  Female  Bangalore    Yes               0               1
14   Karan    Male      Delhi     No               1               0
15   Pooja  Female     Mumbai    Yes               0               1
16  Rakesh    Male    Chennai    Yes               1               1
17    Isha  Female      Delhi     No               0               0
18   Rohit    Male      Delhi    Yes               1               1
19   Deepa  Female  Bangalore    Yes               0               1